# Data Science Tools and Ecosystem

Hello, I am Brian. In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JavaScript
4. SQL
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Keras
4. Pytorch
5. Tensorflow
6. Scikit-Learn
7. Caret

| Data Science Tools|
|-------------------|
| Jupyter           |
| RStudio           | 
| Apache Spark      | 
| Tableau           | 
| KNIME             |

### Below are a few examples of evaluating arithmetic expressions in Python:

1. **Addition**:
   a = 5
   b = 3
   result = a + b   result is 8
  
2. **Subtraction**
   a = 10
   b = 4
   result = a - b   result is 6
   
3. **Multiplication**
   a = 7
   b = 6
   result = a * b   result is 42

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Demonstrate how to evaluate arithmetic expressions in Python.
- Introduce key data science tools and libraries.

## Author

Brian